@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    flex-grow: 1;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    width: 1200px;
    background-color: #FFFFFF;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    display: flex;
    max-height: 64px;
}

.logo {
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

/*navigation*/

.navigation {
    display: flex;
    box-sizing: border-box;
    padding: 0 70px;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 539px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.navigation-link-search {
    background-image: url(../images/icon/icon-seach.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 44px;
    box-sizing: border-box;
}

.navigation-link-like {
  background-image: url(../images/icon/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 44px;
  box-sizing: border-box;
  margin-right: 20px;
}

.navigation-user {
    min-width: 268px;
    margin-left: auto;
}

.navigation-link-buttom {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
}

/* hero */

.hero-image {
    display: block;
    margin: 0 auto;
}

.hero {
    background-color: #81B3D3;
    background-image: url(../images/index-background-ladder.svg), url("../images/welcome-background.jpg");
    background-repeat: no-repeat;
    height: 485px;
    background-size: 100% auto, cover;
    background-position: left bottom, left top;
    padding-top: 51px;
    box-sizing: border-box;
}

/* advantages features */

.advantages-list, .features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .advantages-container {
    width: 1200px;
    margin: 0 auto;
} */


.advantages-group {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.advantages-group-reverse {
    grid-template-columns: 1fr 400px;

}

.advantages-item, .features-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box;
}

.advantages-divider {
    width: 60px;
    height: 2px;
    background-color: #FFFFFF4D;
}

.advantages-divider-list {
    background-color: #0000004D;
}

.advantages-city {
    max-width: 230px;
}

.advantages {
  text-align: center;
  margin: 0;
  padding-top: 69px;
}

.features {

    text-align: center;
    margin: 0;
    padding-top: 64px;
}

.lead {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.lead-features {
    margin-bottom: 20px;
}

.lead-text-features {
  margin-bottom: 64px;
}

.lead-text {
    margin-bottom: 90px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
}

.lead-hotels {
  margin-bottom: 20px;
}

.lead-text-hotels {
  margin-top: 0;
  margin-bottom: 54px;
}

.advantages-item {
    width: 400px;
    height: 385px;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.advantages-item-square,
.advantages-item-tourist {
    background-color: #82B3D312;
    color: #000000;
}

.advantages-item-road {
    background-color: #82B3D320;
    color: #000000;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-desc {
    color: #333333;
}

.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.features-item {
    width: 400px;
    height: 385px;
    background-color: #82B3D312;
    color: #000000;
}

.features-item-eat {
    background-color: #FFFFFF;
}

.features-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.features-desc {
    color: #333333;
}

.search-hotels {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 96px 304px;
    text-align: center;
}

.button-seach-hotel {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
}

.mailing {
    background-image: url("../images/newsletter-background.jpg");
    background-size: cover;
    padding: 96px 0 104px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailing-form {
    display: flex;
    justify-content: center;
}

.mailing-catalog {
    background-image: none;
    color:#000000;
    background-color: #FFFFFF;
}

.title-mailing {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;

}

.text-mailing {
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    max-width: 475px;
    text-align: center;
}

.button-submit {
    background-color: #82B3D3;
    color: #FFFFFF;
    padding: 8px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    font-family: inherit;
    border-radius: 0 4px 4px 0;
    }

.field {
    background-color: #F2F2F2;
    padding: 12px 20px;
    border-radius: 4px 0 0 4px;
    width: 452px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    border: none;
    line-height: 133%;
    font-family: inherit;
}

.page-footer {
    color: #000000;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px;
    box-sizing: border-box;
}

.footer-icon-vk {
    display: inline-block;
    background-image: url(../images/icon/icon-vk.svg);
    background-size: 24px 14px;
    width: 47px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-icon-tg {
  display: inline-block;
  background-image: url(../images/icon/icon-tg.svg);
  background-size: 18px 16px;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-icon-youtube {
  display: inline-block;
  background-image: url(../images/icon/icon-youtube.svg);
  background-size: 22px 17px;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-phone {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.htmlacademy-link {
  background-image: url(../images/logo-htmlacademy.svg);
  background-size: 115px 33px;
  width: 115px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
}

.inner-header,
.catalog-product {
    color:#FFFFFF;
}

.inner-header-title {
    margin: 0 0 8px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
    font-size: 16px;
}

.catalog-filter-title {
    padding: 0;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}

.catalog-filter-item {
    line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;

}

.catalog-filter {
display: flex;
}

.catalog-filter-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    margin-right: 70px;
    padding: 0;
    border: none;
    min-width: 150px;
}

.button-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}

.hotel-search-image{
    background-image: url(../images/catalog/menu.jpg);
    background-color: #82B3D3;
    background-size: cover;
    max-width: 1200px;
    min-height: 412px;
    box-sizing: border-box;
    padding: 35px 70px 70px;

}

.button-drop {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.button-apply {
    background-color: #82B3D3;
    border-radius: 4px;
    padding: 8px 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sorting-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.hotel-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;

}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-card-group {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    row-gap: 16px;
}

.hotel-card-link{
    text-decoration: none;
}

.sorting-hotel-catalog {
  margin: 50px 70px 60px 70px;
}



.hotel-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.hotel-card{
  padding: 20px;
}

.hotel-stars {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 6px;
}

.button-detail {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756157;
    padding: 8px 50px;
    border-radius: 4px;
    max-width: 140px;
}

.button-favourites {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 4px;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 8px;
}

.pagination-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

}

.pagination-link-other {
    color:#000000;
    background-color:#FFFFFF;
    text-transform: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}


/* sorting */

.sorting-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.sorting-text {
  margin-right: 200px;
}

.select-control {
    margin-right: auto;

}

.button-one {
  display: inline-block;
  background-image: url(../images/icon/icon-view-button-small.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.button-two {
  display: inline-block;
  background-image: url(../images/icon/icon-view-button-large.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.button-three {
  display: inline-block;
  background-image: url(../images/icon/icon-view-button-list.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.view {
    display: flex;
    gap: 8px;
    list-style: none;
    align-items: center;
}
